---
title: SnappyData Service for PCF (Beta)
owner: SnappyData Inc.
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>WARNING! </strong>
The SnappyData Service for PCF integration is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes SnappyData Service for Pivotal Cloud Foundry (PCF). 
SnappyData provides in-memory based computation as well as storage, 
which can be used for purposes such as stream processing and interactive analytics. 
SnappyData Service for PCF enables developers to manage clusters, run queries, and submit 
jobs for their PCF apps from the SnappyData Pulse UI. 
<To Do: Just a placeholder introduction. Need to add appropriate content to this.>

## <a id='overview'></a>Overview

[SnappyData](http://www.snappydata.io) fuses Apache Spark with an in-memory database to 
deliver a compute plus data engine that is capable of 
stream processing, transactions, interactive analytics, and prediction in a single cluster.

## <a id='features'></a>Key Features

SnappyData Service for PCF includes the following key features:

- High concurrency
- Low latency, true interactive speeds
- Native, in-memory indexes
- Data integrity through keys and constraints
- Mutability with support for transactions and snapshot isolation
- Shared in-memory state across Spark applications
- Engine for serving predictions
- Extended support for Kubernetes and fully certified for PKS
- HA through distributed consensus based replication
- Support for semi-structured data : Nested data objects, Graph, and JSON data
- Framework for Change-data-capture and streaming ETL
- Built-in support for Notebook based development (both Zeppelin and Jupyter)
- Data prep web tool for self-service data cataloging and prep
- Enterprise grade security (Available only in the Enterprise version)

<To do: The features above are a placeholder. We need to list the key features of the tile (the integration).>


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SnappyData Service for PCF.

<p class='note'><strong>Note:</strong> v1.0.3-hotfix.1 is the same as released version 1.0.2.1.</p>


<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.0.3-hotfix.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 14, 2019</td>
    </tr>
    <tr>
        <td>SnappyData Component version(s)</td>
        <td>1.0.2.1</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>v1.2.x and v1.3.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

To install and use SnappyData Service for PCF, you require the following:

+   Pivotal Application Service (formerly Elastic Runtime) v1.12 or later

+   A running Kubernetes cluster


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[SnappyData Support](mailto:support@snappydata.io) list.

## <a id='license'></a>License


Contact our [Support team](mailto:support@snappydata.io) to learn more about commercial licenses and support.
