---
title: SnappyData Service for Pivotal Platform (PKS) (Beta)
owner: SnappyData Inc.
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>WARNING! </strong>
The SnappyData Service for Pivotal Platform (PKS) integration is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a Pivotal Platform production environment.
</p>

This documentation describes SnappyData Service for Pivotal Platform (PKS).

SnappyData is a high performance in-memory data platform for mixed workload applications.
Built on Apache Spark, SnappyData provides a unified programming model for streaming, transactions, machine learning and SQL Analytics in a single cluster.
SnappyData unifies real-time data sources with external data sources that have a Spark connector.

SnappyData Service for Pivotal Platform (PKS) enables developers to manage SnappyData on Pivotal Container Service (PKS) clusters, run queries, submit
jobs for their applications and monitor the cluster on the SnappyData Pulse UI.


## <a id='overview'></a>Overview

[SnappyData](http://www.snappydata.io) fuses Apache Spark with an in-memory database to 
deliver a compute plus data engine that is capable of 
stream processing, transactions, interactive analytics, and prediction in a single cluster.

## <a id='features'></a>Key Features

SnappyData Service for Pivotal Platform (PKS) includes the following key features:

- High concurrency
- Low latency, true interactive speeds
- Native, in-memory indexes
- Data integrity through keys and constraints
- Mutability with support for transactions and snapshot isolation
- Shared in-memory state across Spark applications
- Engine for serving predictions
- Extended support for Kubernetes and fully certified for PKS
- HA through distributed consensus-based replication
- Support for semi-structured data: Nested data objects, Graph, and JSON data
- Framework for Change-data-capture and streaming ETL
- Built-in support for Notebook-based development (Zeppelin)
- Data prep web tool for self-service data cataloging and prep
- Enterprise grade security (Available only in the Enterprise version)


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SnappyData Service for Pivotal Platform (PKS).

<p class='note'><strong>Note:</strong> v1.0.3-hotfix.1 is the same as released version 1.0.2.1.</p>


<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.0.3-hotfix.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 22, 2019</td>
    </tr>
    <tr>
        <td>SnappyData Component version(s)</td>
        <td>1.0.2.1</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>1.2 and 1.3</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS and GCP</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

To install and use SnappyData Service for Pivotal Platform (PKS), you require the following:

+   A running PKS v1.2+ cluster

+   [kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/), a CLI to interact with PKS

+   [Helm](https://github.com/helm/helm#helm), a package manager for applications running on PKS


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email to [SnappyData Support](mailto:support@snappydata.io) list.

## <a id='license'></a>License


Contact our [Support team](mailto:support@snappydata.io) to learn more about commercial licenses and support.
