---
title: Installing and Configuring SnappyData Service for PCF (beta)
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure SnappyData Service for PCF (beta).

##<a id='install'></a> Install and Configure SnappyData Service for PCF (beta)

To install the SnappyData Service for PCF (beta) file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of SnappyData Service for PCF (beta). 
This adds the tile to your staging area.

1. Click the newly added **SnappyData Service for PCF (beta)** tile.

1. Under **Settings** tab, click **Assign AZs and Networks** and select the appropriate AZ and network for your tile.

1. Click **Kubernetes** and provide the details of your Kubernetes cluster such as **CA cert**, **Cluster URL**, and **Cluster Token**.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install SnappyData Service for PCF (beta) tile.


