---
title: SnappyData Service for PCF Release Notes
owner: SnappyData
---

##<a id="ver"></a> v1.0.2.1 

**Release Date:** February 14, 2019

The SnappyData Service for Pivotal Cloud Foundry (PCF) is based on SnappyData release v1.0.2.1.
This release is marked as Beta because it represents the first PCF release.

To view the features in the SnappyData v1.0.2.1 release, see [SnappyData Documentation Release
Notes](https://snappydatainc.github.io/snappydata/release_notes/release_notes/).  


