---
title: SnappyData Service for Pivotal Platform (PKS) Release Notes
owner: SnappyData
---

##<a id="ver"></a> v1.0.3-hotifx.1 

**Release Date:** February 22, 2019

The SnappyData Service for Pivotal Platform (PKS) is based on SnappyData release v1.0.2.1.
This release is marked as Beta because it represents the first release for PKS.

To view the features in the SnappyData v1.0.2.1 release, see [SnappyData Documentation Release
Notes](https://snappydatainc.github.io/snappydata/release_notes/release_notes/).  


